body{
    background: #000 url("/res/img.png") repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: "Arial Black";

}

h1{
   font-size: xxx-large;
}

ueberschrift{
    display: flex;

}

#menü {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: x-large;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}




a:visited{
    color: gold;
}
a:hover{
    color: orangered;
}

a{
    margin: 20px;
}

#all{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 900px) {

    .char{
        flex-direction: column;
    }
    .char img{
        width : 100%;

    }
}


.char{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
}
.char.p,AboutLeague{
    width: 100%;
}

h2{
    text-align: center;
}

all{

}